**.DS_Store

/fuzz_corpora
/GIT-BUILD-DIR
/GIT-BUILD-OPTIONS
/GIT-CFLAGS
/GIT-LDFLAGS
/GIT-PREFIX
/GIT-PERL-DEFINES
/GIT-PERL-HEADER
/GIT-PYTHON-VARS
/GIT-SCRIPT-DEFINES
/GIT-SPATCH-DEFINES
/GIT-USER-AGENT
/GIT-VERSION-FILE
/bin-wrappers/

/git-archimport
/git-cherry
/git-cherry-pick
/git-cvsexportcommit
/git-cvsimport
/git-cvsserver
/git-difftool--helper
/git-filter-branch
/git-format-patch
/git-fsck-objects
/git-init
/git-instaweb
/git-maintenance
/git-merge-octopus
/git-merge-one-file
/git-merge-resolve
/git-merge-subtree
/git-mergetool
/git-mergetool--lib
/git-p4
/git-quiltimport
/git-remote-ftp
/git-remote-ftps
/git-remote-http
/git-remote-https
/git-request-pull
/git-restore
/git-send-email
/git-sh-i18n
/git-sh-setup
/git-show
/git-stage
/git-status
/git-submodule
/git-svn
/git-switch
/git-version
/git-web--browse
/git-whatchanged

/gnostr-git
/gnostr-git-add
/gnostr-git-am
/gnostr-git-annotate
/gnostr-git-apply
/gnostr-git-archimport
/gnostr-git-archive
/gnostr-git-bisect
/gnostr-git-blame
/gnostr-git-branch
/gnostr-git-bugreport
/gnostr-git-bundle
/gnostr-git-cat-file
/gnostr-git-check-attr
/gnostr-git-check-ignore
/gnostr-git-check-mailmap
/gnostr-git-check-ref-format
/gnostr-git-checkout
/gnostr-git-checkout--worker
/gnostr-git-checkout-index
/gnostr-git-cherry
/gnostr-git-cherry-pick
/gnostr-git-clean
/gnostr-git-clone
/gnostr-git-column
/gnostr-git-commit
/gnostr-git-commit-graph
/gnostr-git-commit-tree
/gnostr-git-config
/gnostr-git-count-objects
/gnostr-git-credential
/gnostr-git-credential-cache
/gnostr-git-credential-cache--daemon
/gnostr-git-credential-store
/gnostr-git-cvsexportcommit
/gnostr-git-cvsimport
/gnostr-git-cvsserver
/gnostr-git-daemon
/gnostr-git-diagnose
/gnostr-git-diff
/gnostr-git-diff-files
/gnostr-git-diff-index
/gnostr-git-diff-tree
/gnostr-git-difftool
/gnostr-git-difftool--helper
/gnostr-git-describe
/gnostr-git-fast-export
/gnostr-git-fast-import
/gnostr-git-fetch
/gnostr-git-fetch-pack
/gnostr-git-filter-branch
/gnostr-git-fmt-merge-msg
/gnostr-git-for-each-ref
/gnostr-git-for-each-repo
/gnostr-git-format-patch
/gnostr-git-fsck
/gnostr-git-fsck-objects
/gnostr-git-fsmonitor--daemon
/gnostr-git-gc
/gnostr-git-get-tar-commit-id
/gnostr-git-grep
/gnostr-git-hash-object
/gnostr-git-help
/gnostr-git-hook
/gnostr-git-http-backend
/gnostr-git-http-fetch
/gnostr-git-http-push
/gnostr-git-imap-send
/gnostr-git-index-pack
/gnostr-git-init
/gnostr-git-init-db
/gnostr-git-interpret-trailers
/gnostr-git-instaweb
/gnostr-git-log
/gnostr-git-ls-files
/gnostr-git-ls-remote
/gnostr-git-ls-tree
/gnostr-git-mailinfo
/gnostr-git-mailsplit
/gnostr-git-maintenance
/gnostr-git-merge
/gnostr-git-merge-base
/gnostr-git-merge-index
/gnostr-git-merge-file
/gnostr-git-merge-tree
/gnostr-git-merge-octopus
/gnostr-git-merge-one-file
/gnostr-git-merge-ours
/gnostr-git-merge-recursive
/gnostr-git-merge-resolve
/gnostr-git-merge-subtree
/gnostr-git-mergetool
/gnostr-git-mergetool--lib
/gnostr-git-mktag
/gnostr-git-mktree
/gnostr-git-multi-pack-index
/gnostr-git-mv
/gnostr-git-name-rev
/gnostr-git-notes
/gnostr-git-p4
/gnostr-git-pack-redundant
/gnostr-git-pack-objects
/gnostr-git-pack-refs
/gnostr-git-patch-id
/gnostr-git-prune
/gnostr-git-prune-packed
/gnostr-git-pull
/gnostr-git-push
/gnostr-git-quiltimport
/gnostr-git-range-diff
/gnostr-git-read-tree
/gnostr-git-rebase
/gnostr-git-receive-pack
/gnostr-git-reflog
/gnostr-git-remote
/gnostr-git-remote-http
/gnostr-git-remote-https
/gnostr-git-remote-ftp
/gnostr-git-remote-ftps
/gnostr-git-remote-fd
/gnostr-git-remote-ext
/gnostr-git-repack
/gnostr-git-replace
/gnostr-git-request-pull
/gnostr-git-rerere
/gnostr-git-reset
/gnostr-git-restore
/gnostr-git-rev-list
/gnostr-git-rev-parse
/gnostr-git-revert
/gnostr-git-rm
/gnostr-git-send-email
/gnostr-git-send-pack
/gnostr-git-sh-i18n
/gnostr-git-sh-i18n--envsubst
/gnostr-git-sh-setup
/gnostr-git-shell
/gnostr-git-shortlog
/gnostr-git-show
/gnostr-git-show-branch
/gnostr-git-show-index
/gnostr-git-show-ref
/gnostr-git-sparse-checkout
/gnostr-git-stage
/gnostr-git-stash
/gnostr-git-status
/gnostr-git-stripspace
/gnostr-git-submodule
/gnostr-git-submodule--helper
/gnostr-git-subtree
/gnostr-git-svn
/gnostr-git-switch
/gnostr-git-symbolic-ref
/gnostr-git-tag
/gnostr-git-unpack-file
/gnostr-git-unpack-objects
/gnostr-git-update-index
/gnostr-git-update-ref
/gnostr-git-update-server-info
/gnostr-git-upload-archive
/gnostr-git-upload-pack
/gnostr-git-var
/gnostr-git-verify-commit
/gnostr-git-verify-pack
/gnostr-git-verify-tag
/gnostr-git-version
/gnostr-git-web--browse
/gnostr-git-whatchanged
/gnostr-git-worktree
/gnostr-git-write-tree
/scalar
/git-core-*/?*
/git.res
/gitweb/GITWEB-BUILD-OPTIONS
/gitweb/gitweb.cgi
/gitweb/static/gitweb.js
/gitweb/static/gitweb.min.*
/config-list.h
/command-list.h
/hook-list.h
*.tar.gz
*.dsc
*.deb
/git.spec
*.exe
*.[aos]
*.o.json
*.py[co]
.build/
.depend/
*.gcda
*.gcno
*.gcov
/coverage-untested-functions
/cover_db/
/cover_db_html/
*+
/config.mak
/autom4te.cache
/config.cache
/config.log
/config.status
/config.mak.autogen
/config.mak.append
/configure
/.vscode/
/tags
/TAGS
/cscope*
/compile_commands.json
*.hcc
*.obj
*.lib
*.sln
*.sp
*.suo
*.ncb
*.vcproj
*.user
*.idb
*.pdb
*.ilk
*.iobj
*.ipdb
*.dll
.vs/
Debug/
Release/
/UpgradeLog*.htm
/git.VC.VC.opendb
/git.VC.db
*.dSYM
/contrib/buildsystems/out
